* {
    padding: 0;
    margin: 0;
}

:root {
    --color: white;
    --color2: rgb(40, 40, 40);
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox {
    visibility: hidden;
}

.toggle {
    margin: 20px;
    width: 40px;
    height: 21px;
    display: block;
    position: relative;
    background-color: var(--color);
    border-radius: 50px;
    box-shadow: inset 0 0 3px black;
    cursor: pointer;
    transform: scale(10);
    /* remove 2*/
}

.toggle::after {
    /* content: ''; */
    /* remove 1*/
    top: 2px;
    left: 3px;
    width: 16px;
    height: 16px;
    background: linear-gradient(to right, yellow, rgb(251, 255, 228));
    position: absolute;
    border-radius: 50%;
    transition: 0.5s;
    box-shadow: inset 0 0 5px rgb(255, 119, 0), 0 0 5px grey;
}

.checkbox:checked~.toggle::after {
    left: 20px;
    background: linear-gradient(to right, white, grey);
    box-shadow: inset 0 0 5px rgb(0, 0, 0), 0 0 5px rgb(48, 48, 48);
}

.checkbox:checked~.toggle {
    background-color: grey;
}

.background {
    width: 100vw;
    height: 100vh;
    background-color: var(--color);
    position: absolute;
    z-index: -1;
    transition: 0.5s;
}

.checkbox:checked~.toggle~.background {
    background-color: var(--color2);
}

.toggle img {
    position: absolute;
    z-index: 1;
}

.toggle img.sun {
    width: 12px;
    transition: 0.5s;
    left: 5px;
    top: 4px
}

.toggle img.moon {
    width: 12px;
    transform: scale(0);
    transition: 0.5s;
    left: 5px;
    top: 4px

}

.checkbox:checked~.toggle img.sun {
    left: 22px;
    transform: scale(0);
    visibility: hidden;
}

.checkbox:checked~.toggle img.moon {
    left: 22px;
    transform: scale(1);
    visibility: initial;
}